{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-4">
        <h2 align="center">Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark">Login</button>
            <a href="{% url 'password_reset' %}">
                <button class="btn btn-danger">Forgot Password?</button>
            </a>
        </form>
    </div>
</div>
{% endblock %}