{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block body %}
{% if validlink %}
<div class="row d-flex justify-content-center">
    <div class="col-5">
        <h2 align="center">Set a new password.</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark">Set New Password</button>
        </form>
    </div>
</div>
{% else %}
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock %}