{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-5">
        <h2 align="center">Join Classroom</h2>
        <br>
        <h3>Course: {{ classroom.course }}</h3>
        <p>Teacher: {{ classroom.teacher }}</p>
        <p>Are you sure you want to join this classroom?</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Join Classroom</button>
        </form>
    </div>
</div>
{% endblock %}