{% extends 'base.html' %}


{% block body %}

<h1>All Classes Under You</h1>
<br>
<div class="row">
{% for classroom in object_list %}
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Course: {{ classroom.course }}</h5>
                    <p class="card-text">Room No: {{ classroom.room_no }}</p>
                    <a href="{% url 'classroom:classroom_detail' classroom.code classroom.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
{% empty %}
    <p>No classrooms undertaken by you yet.</p>
{% endfor %}
</div>


{% endblock %}